<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Oak Browser</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/tailwind.min.css">
	<script src="/assets/js/vue2.min.js"></script>
</head>
<body class="p-10">
	<div id="app">
		<div v-if="!debugs.length">Nothing yet...</div>
		<div v-for="debug in debugs.slice().reverse()" :key="debug.uuid" class="mb-10">
			<div v-for="payload in debug.payloads">
				<div v-for="value in payload.content.values" v-html="value"></div>
			</div>
		</div>
	</div>

	<script>
		var app = new Vue({
			el: '#app',
			data: {
				debugs: []
			},

			methods: {
				debug: function(data) {
					this.debugs.push(data)
				}
			}
		})		

		var exampleSocket = new WebSocket("ws://<%= ip %>:<%= port %>")
		exampleSocket.onmessage = function (event) {
			app.debug(JSON.parse(event.data))
		}		
	</script>
</body>
</html>